<h3>Member Detail Component</h3>

<span>Edição de:</span> {{selectedMember.name}} - {{selectedMember.surname}}

<span class="image left">
    <img src="{{selectedMember.photo}}" alt="">
</span>
  
<input type="text" [(ngModel)]="selectedMember.id" readonly><br>
<input type="text" [(ngModel)]="selectedMember.name"><br>
<input type="text" [(ngModel)]="selectedMember.surname"><br>
<input type="text" [(ngModel)]="selectedMember.phone"><br>
<button (click)="newMembeR()" class="button primary">Novo</button>
<button (click)="updateMember(selectedMember.id)">Editar</button>
<button (click)="deleteMember()">Deletar</button>

